@media screen
{
    /*General Styles*/
    body 
    {
        margin: 0px;
        font-family: Arimo, Arial, Sans-Serif;
        text-align: center;
    }

    /*class: inner div, all content goes between div*/
    .inner 
    {
        width: 1200px;
        margin: auto;
    }
    h1 
    {
        margin: auto;    
        font-size: 3.5em;
        font-weight: 700;
        color: #e60000;
    }

    h2 
    {
        margin: 0px;
        font-size: 0.9em;
        letter-spacing: 5px;
        font-weight: 400;
    }

    h3 
    {
        margin: 0px;
        font-size: 1em; 
        font-weight: 400; 
        color: #e60000;
    }

    h4 
    {
        margin: 0px;
        padding: 10px 0px 10px 0px;
        font-size: 1.5em;
        font-weight: 700;
        color: #e60000;   
    
    }

    .projectType 
    {
        margin: 0px;
        padding: 4px 0px 0px 0px;
        font-weight: 400;
        font-size: 0.8em;    
    }

    .projectDate 
    {
        margin: 0px;
        padding: 0px 0px 8px 0px;
        font-weight: 400;
        font-size: 0.8em;
    }

    #head 
    {
        padding:10px 0px 10px 0px;
    }

    ul
    {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    #menu 
    {
        background-color: #e60000; 
        margin: auto;
        padding:10px 0px 10px 0px;
    }

    #menu ul li 
    {
        display: inline-block;
        font-size: 0.8em;
        letter-spacing: 2px;
        font-weight: lighter;
        color: #FFFFFF;
    }

    a:link, a:visited 
    {
        color: #FFFFFF;
        text-decoration: none;
    }

    a:active, a:hover 
    {
        color: #000000;
        text-decoration: none;
    }

    #work 
    {
        padding:10px 0px 10px 0px;  
        background-color: #F0F0F0;  
    }
    .project 
    {
        float: left;    
        display: inline;
        padding: 20px;
    }

    img 
    {
        display: block;     
    }

    .row 
    {
        padding: 0px 0px 10px 0px;
        display: inline-block;
        margin: auto;    
    }

    #footer 
    {
        padding: 100px 0px 0px 0px;
        display: inline-block;
        margin: auto;    
    }

    .emptyProject 
    {
        float: left;
        display: inline;
        width: 360px;  
        height: 287px;
        padding: 20px;
    }

    .author 
    {
        font-size: 0.7em;
        color: #808080;    
    }

    .greybackground 
    {
        background-color: #F0F0F0;
        margin: 0px;
        padding-bottom: 10px;
    }

    .details p 
    {
        padding: 10px 0px 10px 0px;
        margin: auto;
        width: 850px;
        font-size: 0.8em;
        text-align: left;
        font-weight: 400;       
    }

    .details img 
    {
        display: block;
        margin: auto;
        width: 60%;    
        padding: 10px;
    }

    .details ul 
    {
        text-align: left;
        font-size: 0.8em;
        font-weight: 400;
        width: 850px;
        margin: auto;
        list-style-type: disc;       
    }

    table 
    {
        padding: 10px;
        width: 300px;
        display: inline-block;
        margin: auto;    
    }

    td 
    {
        font-size: 0.8em;
        padding: 5px;
        text-align: left;
    }   
}

/*mobile*/
@media screen and (max-width: 480px)  
{
    .inner 
    {
        width: 100%;
        margin: auto;
    } 
    
    h1 
    {
        
    }   
    
    .project 
    {
        width: 100%;
        margin: auto;
        display: block;
        float: none;   
        padding: 10px 0px 0px 0px; 
    }
    
    .row 
    {
        padding: 0px 0px 0px 0px;
    }
    
    img 
    {
        width: 100%;    
    }
        
    .emptyProject 
    {
        float: none;
        display: block;
        width: 0px;  
        height: 0px;
        padding: 0px;
    }
    
    .details p 
    {
        padding: 10px 0px 10px 0px;
        margin: auto;
        width: 90%;      
    }
    
    .details iframe 
    {
        width: 100%;
    }
    
    .details img 
    {
        width: 90%;   
    }
    #footer 
    {
        padding-top: 0px;    
    }
}